<nav>
    <ul>
      <li><a href="#" data-category="all">Home</a></li>
      <li><a href="#" data-category="custom">Custom</a></li>
      <li><a href="#" data-category="sedan">Sedan</a></li>
      <li><a href="#" data-category="suv">SUV</a></li>
      <li><a href="#" data-category="truck">Truck</a></li>
    </ul>
  </nav>