<% // === Content Heading === %>

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% // === Message Block (for flash messages) === %>
<%# messages() %>

<% // === Inventory Items (grid of vehicles) === %>
<%- grid %>